.env
.env.local
.env.*.local
!.env.sample  # Разрешаем коммитить образец, чтобы другие знали, какие переменные нужны

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


celerybeat-schedule
celerybeat.pid

.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover


.idea/
*.iml
.vscode/
*.swp
*.swo
*.swn

.DS_Store
Thumbs.db
$Recycle.Bin/

build/
dist/
*.egg-info/
.eggs/
